---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Proyects from '../components/Proyects.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="Portafolio Andrés Martínez - Desarrollador full stack 3 años de experiencia">
	<SectionContainer class="py-16 md:py-36">
		<HeroSection/>
	</SectionContainer>	
	<div class="space-y-24">
		<SectionContainer id="experiencia">
			<h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
		  >
			<Briefcase class="size-8" />
			Experiencia laboral
		  </h2>
			<Experience/>
		</SectionContainer>	
		<SectionContainer  id="proyectos">
			<h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
		  >
			<Code class="size-8" />
			Proyectos
		  </h2>
			<Proyects/>
		</SectionContainer>	
		<SectionContainer id="sobre-mi">
			<h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
		  >
			<Code class="size-8" />
			Sobre mí
		  </h2>
		  <AboutMe/>
		</SectionContainer>	
	</div>
	
</Layout>

