---

---
<section class="max-w-4xl m-auto py-5">
    <article class="grid w-2/3">
        <div class="flex gap-4 mb-2">
            <img src="https://i.pinimg.com/736x/fd/ed/6f/fded6fcd0c89da7df4e9d40177283fc7.jpg" class="rounded-full shadow-lg size-16" alt="" srcset="">
            <div class="flex items-center">
                <span class="border rounded-full py-2 px-3 text-sm">Disponible para trabajar</span>
            </div>
        </div>
        <div>
            <h1 class="text-5xl font-extrabold  text-white py-1">Hey, I am Andrés</h1>
            <p class="text-white py-3">Soy una persona comprometida con la innovación y el aprendizaje continuo. Busco optimizar procesos diarios con soluciones creativas y efectivas. Mi pasión por la tecnología me mantiene al día con las últimas tendencias, permitiéndome ofrecer soluciones de alta calidad. Estoy preparado para contribuir al éxito de tu proyecto con habilidades técnicas y un fuerte compromiso con la excelencia.</p>
        </div>
    </article>
</section>