---

---
<header class="max-w-xl m-auto my-3 ">
    <nav class="p-1 md:p-3 rounded-full mx-2 bg-slate-800" >
        <ul class="flex justify-center gap-2 md:gap-4">
            <li class="text-center p-1 md:text-lg text-sm text-white hover:text-cyan-400 border-b border-b-transparent hover:border-cyan-400">
                <a href="#experiencia">
                    Experiencia
                </a>
            </li>
            <li class="text-center p-1 md:text-lg text-sm text-white hover:text-cyan-400 border-b border-b-transparent hover:border-cyan-400">
                <a href="#sobre-mi">
                    Sobre mí
                </a>
            </li>
            <li class="text-center p-1 md:text-lg text-sm text-white hover:text-cyan-400 border-b border-b-transparent hover:border-cyan-400">
                <a href="#proyectos">
                    Proyectos
                </a>
            </li>
            <li class="text-center p-1 md:text-lg text-sm text-white hover:text-cyan-400 border-b border-b-transparent hover:border-cyan-400">
                <a href="mailto:andresjose.210299@gmail.com">
                    Contacto
                </a>
            </li>
        </ul>
    </nav>
</header>