---
const imageAlt = "José Andrés Martínez Hernández"
import SocialPills from "./SocialPills.astro";
import Badge from "./Badge.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
import GitHub from "./icons/GitHub.astro";
import TitleComponent from "./TitleComponent";

---
    <article class="grid max-w-xl">
        <div class="flex gap-4 mb-2">
            <img src="/img/meMoji.webp" class="rounded-full shadow-lg size-16" alt={imageAlt}>
            <a href="https://www.linkedin.com/in/andresmh99/" target="_blank" rel="noopener" class="flex items-center transition md:justify-center md:hover:scale-105">
                <Badge>Disponible para trabajar</Badge>
            </a>
        </div>
        <div>
            <TitleComponent client:visible/>
            <p class="mt-6 py-3 text-xl text-slate-800 dark:text-gray-200 text-pretty dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold">+3 años de experiencia. <strong>Técnico en Análisis de Sistemas y futuro Ing. Informático</strong> ubicado en Santiago de Chile. Mi enfoque en la innovación y el aprendizaje continuo me permite ofrecer soluciones creativas y efectivas.</p>
        </div>
        <div class="flex flex-wrap gap-4 mt-4">
            <SocialPills href="mailto:contacto@andreveloper.com">
                <Mail class="size-4"/>
                Correo electrónico
            </SocialPills>
            <SocialPills href="https://www.linkedin.com/in/andresmh99/">
                <LinkedIn class="size-4"/>
                LinkedIn
            </SocialPills>
            <SocialPills href="https://github.com/andresmh99">
                <GitHub class="size-4"/>
                GitHub
            </SocialPills>
        </div>
    </article>

  